.typewriter h1 {
    color: #fff;
    overflow: hidden; 
    border-right: .15em solid white; 
    white-space: nowrap; 
    font-weight: bold;
    text-shadow: 3px 3px rgb(105, 105, 105);
    margin: 0 auto; 
    letter-spacing: .0em; 
    animation: 
      typing 8s steps(60, end) infinite,
      blink-caret .5s step-end infinite;
  }

.wrapper::before {
    content: "Ville..";
    animation: typing 12s steps(60, end) infinite;
}

  @keyframes typing {
    0% { width: 0% }
    18% { width: 100% }
    28% { width: 100% }
    36% { width: 0%;  }
    56% { width: 0%; }
    72% { width: 100%; content: "Vs1m..";}
    88% { width: 100%; content: "Vs1m.. ";}
    100% { width: 0%; content: "Vs1m..";}
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }