@font-face {
    font-family: 'pxplus_ibm_vga8regular';
    src: url('/css/PxPlus_IBM_VGA8.ttf') format('truetype');
    font-weight: normal;

}
@font-face {
    font-family: 'pc98';
    src: url('/css/PC_9800.woff2') format('woff2'),
	url('/css/PC_9800.woff') format('woff'),
	url('/css/pc-9800.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #292929;
    color: #eee;
    font-family: 'pc98';
}

div {
    align-content: center;
    padding-top: 1%;
    
}

#head {
    padding-top: 8%;
    text-shadow: 3px 3px rgb(105, 105, 105);

}

img {
    box-shadow: 5px 5px #4f6367;    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: greenyellow;
    text-decoration: underline;
    
  }