* {
    user-select:  none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'pxplus_ibm_vga8regular';
    src: url('/css/PxPlus_IBM_VGA8.ttf') format('truetype');
    font-weight: normal;

}

@font-face {
    font-family: 'pc98';
    src: url('/css/PC_9800.woff2') format('woff2'),
	url('/css/PC_9800.woff') format('woff'),
	url('/css/pc-9800.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html {
    overflow-x: hidden;
}

body {
    color: #eee;
    font-family: 'pc98';
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(to bottom,  rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 0.9)), url(/img/noise_4k.svg);
}

.everything {
    width: 800px;
}

.card {
    margin: 5%;
    padding: 0;
    background-color: #252525;
    border: 1px solid #444444;
    box-shadow: 4px 4px 4px #282828;
    border-radius: 6px;
}

.container {
    margin: 0;

    padding-bottom: 50px;
    padding-right:  50px;

    display: grid;
    grid-template-columns: auto auto;

    overflow: hidden;
}

.c_item {
    margin: 0;
    padding: 0;

    margin-top: 25px;
    margin-bottom: 15px;
}

.image_link {
    margin: 0;
    padding: 0;

    margin-left: 80px;
    margin-right: 0px;
    width: auto;
}

#head {
    margin: 0;
    
    margin-top: 65px;

    margin-left:  35px;
    margin-right: 150px;
    
    padding: 0;

    width: 350px;
    font-size: 32px;
    font-weight: lighter;
    text-shadow: 2px 2px 1px #666666;
}

.top_nav {
    font-weight: bold;
    font-family: courier, monospace;

    margin: 0;
    
    margin-left:  35px;
    margin-right: 150px;
    
    width: 333px;

}


.blog_links {
    font-size:16px; 
    font-family:courier,monospace;
    
    margin: 0;
    margin-top: -15px;

    padding: 0;
    padding-bottom: 25px;
    
    list-style-type: none;
    
}

li::before {
    content: "-";
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: greenyellow;
    text-decoration: underline;
}

.one, .two, .three, .four {
    padding-left:   15px;
    padding-bottom: 20px;
}

.three {
    float: left;
}

.four {
    float: left;
}

.three, .four {
    margin: 0;
    margin-left:  5%;
    margin-bottom: 5%;
    margin-right: 1%;
    width: 42%;

    height: 140px;
    overflow: hidden;
}

.side_by_side {
    display: inline;
}

h2, h3, h4 {
    width: 200px;
    margin-top: 15px;
    font-weight: lighter;
}

img {
    margin-top: 6%;
}

.footer {
    border: 0;
    box-shadow: 0 0 0;
    background: linear-gradient(to bottom,  rgba(10, 10, 10, 0.0), rgba(10, 10, 10, 0.0));
}

.song_data {
    background-color: red;
}

/* phone */
@media all and (orientation:portrait) and (max-width: 600px) { 
    body {
        background: linear-gradient(to bottom,  rgba(10, 10, 10, 0.95), rgba(10, 10, 10, 0.9)), url(/img/noise_2k.svg);
    }
    
    .everything {
        width: 380px;
        max-width: 380px;
    }

    .card { 
        margin-left: 10px;
        margin-right: 10px;
    }

    .container {
        display: inline;
    }

    .c_item {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    
    .image_link {
        margin-left: 100px;
        margin-right: 0px;
    }
    
    #head {
        margin-left: 12px;
    }

    .top_nav { 
        margin-left: 18px;
    }

    .one, .two, .three {
        padding-right: 5px;
    }

    
    .three, .four {
        width: 360px;
    }
    
    .side_by_side {
        display:contents;
    }

    .small_icon_spotify {
        background-color: red;
    }
}

@media all and (orientation:portrait) and (max-width: 400px) {
    .everything {
        width: 340px;
    }

    #head {
        width: 300px;
        font-size: 28px;
        margin-left: 14px;
    }

    .top_nav { 
        width: 290px;
        font-size: 14px;
        margin-left: 18px;
    }
 }

 @media all and (orientation:portrait) and (max-width: 350px) {
    .everything {
        width: 300px;
    }

    .image_link {
        margin-left: 70px;
        margin-right: 0px;
    }

    #head {
        width: 260px;
        font-size: 24px;
        margin-left: 14px;
    }

    .top_nav { 
        width: 250px;
        font-size: 12px;
        margin-left: 18px;
    }

 }


@media all and (orientation:portrait) and (min-width: 600px) and (max-width: 720px) { 
    .everything {
        width: 650px;
    }

    #head {
        font-size: 28px;
    }

    .top_nav {
        font-size: 14px;
    }
}

@media all and (orientation:portrait) and (max-width: 720px) {
    img {
        margin-top: 4%;
    }

    .card {
        padding-top: 2%;
    }
    
}